<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - BallerinaCappucina</title>
    @* @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") *@
    <style>
        body {
            background-color: #FFFCF5;
            font-family: 'Segoe UI', sans-serif;
            margin: 0;
            text-align: center;


        }

      

          
            }

        @@media (max-width: 768px) {
            header img {
                max-width: 120px;
            }
        }

        .container-fluid {
            padding: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>
<body>
    <div style="height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #FFFCF5;">
        <a href="@Url.Action("Kiosk", "ZamowieniaView")">
            <img src="@Url.Content("~/Content/BallerinaLogo.png")" alt="BallerinaCappucina Logo" style="max-width: 350px; height: auto; cursor: pointer;" />
        </a>
    </div>

    <div class="container-fluid p-0">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
